<div class="container-search">
    <div class="form">  
        <div class="input">
            <span class="phone">
                <!-- width="230px" height="50px" -->
                <p-skeleton class="br" width="14.375rem" height="3.125rem">
                </p-skeleton>
            </span>
            <span class="tablet">
                <!-- width="400px" height="50px" -->
                <p-skeleton class="br" width="25rem" height="3.125rem">
                </p-skeleton>
            </span>
            <span class="desktop">
                <!-- width="300px" height="50px" -->
                <p-skeleton class="br" width="18.75rem" height="3.125rem">
                </p-skeleton>
            </span>
        </div>
    </div>
</div>