.container-search {
    position: relative;
    display: grid;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
    &__icon {
        top: 45%;
        transform: translateY(-50%);
        height: 20px;
        position: absolute;
        right: 20px;
    }
}

input {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(47,47,237,1);
    border-radius: 12px;
    outline: none;
}


input:focus{
    box-shadow: rgba(50, 63, 238, 0.35) 0px 5px 15px 5px;
}

input::placeholder {
    color: rgba(47,47,237,1);
}

span:hover{
    opacity: 0.7;
}

a{
    color: rgba(47,47,237,1);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}


@media(max-width:767.98px) {
    .container-search{
        width: 230px;
        margin: 20px auto;
    }

    input{
        width: 230px;
        margin-right: 0px;
    }
}

@media(min-width:768px) and (max-width:1199.98px) {
    .container-search{
        width: 400px;
        margin: 20px auto;
    }

    input{
        width: 400px;
        margin-right: 0px;
    }

}