<header>
  <nav class="container-nav container-fluid">
    <div  class="container-nav__logo">
      <i class="fa-solid fa-film"></i>DemoApp<i class="fa-solid fa-film"></i>
    </div>
    <div class="container-nav__menu">
      <ul class="list-movie">
        <li>
          <a aria-current="page" routerLink="info-home">Home</a>
        </li>
        <li>
          <a  aria-current="page" routerLink="movies">Peliculas</a>
        </li>
        <li>
          <a  routerLink="series">Series</a>
        </li>
        <li>
          <a routerLink="animes">Animes</a>
        </li>
      </ul>
    </div>

  </nav>
</header>