header{
    height: 70px;
}
.container-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 20px;
    background: rgb(213,217,217);
    background: linear-gradient(90deg, rgba(213,217,217,1) 0%, rgba(2,0,36,1) 0%, rgba(138,138,138,1) 95%);
    &__logo {
        background-color: #fff;
        border: 2px solid #fff;
        border-radius:10px;
        float: left;
        padding:0px 5px 0px 5px;
        margin: 0px;
    }
}

ul {
    list-style: none;
    margin: 0px;
    li{
        margin-right: 12px;
        a {
            padding: 10px;
            text-decoration: none;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 10px;
            
        }
        a:hover {
            background-color: rgba(47,47,237,1);
            color: #fff;
            cursor: pointer;
        }
    }
}

.list-movie {
    display: flex;
    justify-content: center;
}

@media(max-width:767.98px){
    header {
        height: 100px;
    }
    .container-nav {
        padding: 0px;
        &__logo {
            margin-top: 30px;
            margin-left: 12px;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        li {
            a {
                padding: 4px;
                border: unset;
            }
        }
    }
}

@media(min-width:768px) and (max-width:1199.98px){
    .list-movie {
        display: flex;
        justify-content: end;
    }
}