<div class="container-cards">
    <div class="container-cards__detail" *ngFor="let content of list">
        <div class="card-skeleton">
            <div class="card-skeleton__image">
                <span class="desktop-tablet">
                    <p-skeleton class="br" width="318.55px" height="200px"></p-skeleton>
                </span>
                <span class="phone">
                    <p-skeleton class="br" width="288px" height="150px"></p-skeleton>
                </span>
            </div>
            <div class="card-skeleton__body">
                <div class="card-skeleton__name">
                    <p-skeleton width="184.55px" height="24px"></p-skeleton>
                </div>
                <div class="card-skeleton__gender">
                    <p-skeleton width="184.55px" height="24px"></p-skeleton>
                </div>
                <div class="card-skeleton__year">
                    <p-skeleton width="104.55px" height="24px"></p-skeleton>
                </div>
                <div class="card-skeleton__description">
                    <span class="phone">
                        <p-skeleton width="232.55px" height="24px"></p-skeleton>
                    </span>
                    <span class="desktop-tablet">
                        <p-skeleton width="264.5504px" height="24px"></p-skeleton>
                    </span>
                    
                </div>
                <div class="card-skeleton__button">
                    <p-skeleton width="101.45px" height="37.44px"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>
