.container-cards {
    display: grid;
    column-gap: 10px;
    grid-auto-rows: 400px;
    row-gap: 50px;
    margin: 30px 16px 20px 16px;
    &__detail{
        height: max-content;
    }
}

.card-skeleton {
    width: 320px;
    margin: 0 auto;
    &__body {
        border: 1.5px solid #efefef;
        border-radius: 6px;
    }
    &__image {
        width: 100%;
        height: 200px;
    }
    &__name {
        margin: 16px 16px 8px 16px;
    }
    &__gender {
        margin: 16px 16px 8px 16px;
    }
    &__year{
        margin: 16px 16px 8px 16px;
    }
    &__description {
        margin: 16px 16px 8px 16px;
    }
    &__button {
        margin: 8px 16px 8px 16px;
    }
}

@media(max-width:767.98px){
    .container-cards{
        grid-auto-rows: 350px;
        row-gap:20px;
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-skeleton {
        width: 290px;
        margin: 0 auto;
        &__image {
            height: 150px;
        }
        &__body {
            height: 197px;
        }
        &__name {
            margin: 8px;
        }
        &__gender {
            margin: 8px;
        }
        &__year{
            margin: 8px;
        }
        &__description {
            margin: 8px;
        }
        &__button {
            margin: 8px;
        }
    }

    .phone {
        display: block;
    }
    .desktop-tablet {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1199.98px){
    .container-cards{
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .phone {
        display: none;
    }
    .desktop-tablet {
        display: block;
    }    
}

@media(min-width:1200px){
    .container-cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .phone {
        display: none;
    }
    .desktop-tablet {
        display: block;
    } 
}