.container-login {
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url('../../../../assets/img/fondo-login.jpg');
    background-size: cover;
    &__title{
        text-align: center;
        color: #fff;
        position: relative;
        margin-bottom: 20px;
    }
}