<div class="container-cards" *ngIf="!showSkeleton">
    <div class="container-cards__detail" *ngFor="let content of list">
        <div class="card">
            <img class="card-img-top" [src]="content?.imageurl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre: {{content?.name}}</h5>
              <p class="card-text"><span><b>Género:</b></span>{{content?.gender}}</p>
              <p class="card-text"><span><b>Año:</b></span> {{content?.releaseYear}}</p>
              <p class="card-text"><span><b>Descripción:</b></span> {{content?.description}}</p>
              <a class="btn btn-primary">Ir a Detalle</a>
            </div>
          </div>
    </div>
</div>

<csv-skeleton-card-list *ngIf="showSkeleton"
    [list]="list">
</csv-skeleton-card-list>

<csv-button-scroll-top></csv-button-scroll-top>